/*.container


    .team-members
        margin:auto; 
        display:flex; 
        flex-wrap:wrap; 
        justify-content:space-evenly;
     
    .member
        color:white; 
        font-family:@nav-font;
        width: 20%;
        background:@nav-text; 
        font-size:1.5rem;   

        .img
            border-rad
        
        
    }

    }
}

*/