

#productInfo{
    
    text-align:center;
    padding:30px;
    font-size:22px;
    font-weight: bold;
    background: #96D3CD;
  
   

    h1{
        border:10px
    }
    p{
        
        font-size-adjust: 0.58;
        padding:20px;
       
    }
}




